.navbar {
  align-items: center; /* Alinea los elementos del menú */
}

.navbar-nav .nav-item {
    margin-left: 15px; /* Espaciado entre los elementos del menú */
  }
  
  .navbar-nav .nav-link {
    font-weight: bold; /* Texto en negrita */
  }

  .navbar-brand img {
    margin-right: 10px; /* Espacio a la derecha de la imagen */
  }
  

  