/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif }

.color,
.card, body {
    background-color: #bfc7d6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    border: 0px solid rgba(34, 139, 34, 0.473);
}

.card {
    border: 0px solid rgba(242, 141, 104, 0.473);
    border-radius: 25px;
    background-color: rgba(255, 255, 224, 0.603);
}

.imagen-circulo {
    background-color: rgba(255, 215, 0, 0.315); 
    margin-right: 15px;
    border-radius: 300px;
}

.badge {
    border: 0px solid black;
    padding: 5px;
    padding-bottom: 7px;
    background-color: rgba(190, 179, 119, 0.6); 
    color: white;
}

.btn-ver-detalles:hover {
    background-color: rgba(255, 69, 0, 0.486);
}

.btn-ver-detalles, btn {
    background-color: rgba(60, 179, 113, 0.486); 
    border: 0px solid black;
    color: white;
}

#logo {
    width: 250px; 
    height: auto;
}

#search-input {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    padding: 5px;
}

#search-button {
    height: 38px;
    background-color: rgb(176, 22, 22);
    color: white;
}
