<div class="container-fluid">
    <div class="row mt-4">
      
      <aside class="col-lg-2 d-none d-lg-block bg-secondary p-4 border-end">
        <h5 class="aside-title text-white">Info</h5>
        <ul class="list-unstyled">

          <li><a href="https://github.com/alvaroloal" target="_blank" class="footer-link">alvaroloal</a></li>
          <li><a href="https://pokeapi.co/docs/v2" target="_blank" class="footer-link">PokeApi</a></li>
          <li><a href="#" class="aside-link text-white"></a></li>
          <li><a href="#" class="aside-link text-white"></a></li>
        </ul>
      </aside>
  
     
      <div class="col-lg-8">
        <div id="pokemonCarousel" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 100%; height: 400px;">
          <div class="carousel-inner rounded shadow-sm">
            
            <div class="carousel-item" style="background-image: url('https://img.pokemondb.net/artwork/large/gengar.jpg');">
            </div>
            <div class="carousel-item" style="background-image: url('https://img.pokemondb.net/artwork/large/pikachu.jpg');">
            </div>
            <div class="carousel-item" style="background-image: url('https://img.pokemondb.net/artwork/large/snorlax.jpg');">
            </div>
            <div class="carousel-item active" style="background-image: url('https://img.pokemondb.net/artwork/large/bulbasaur.jpg');">
            </div>
            <div class="carousel-item" style="background-image: url('https://img.pokemondb.net/artwork/large/eevee.jpg');">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#pokemonCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      <aside class="col-lg-2 d-none d-lg-block bg-secondary p-4 border-start">
        <h5 class="aside-title text-white">Categorías Populares</h5>
        <ul class="list-unstyled">
            <li><a routerLink="/pokemon" class="footer-link">Lista Pokémon</a></li>
            <li><a routerLink="/items" class="footer-link">Objetos</a></li>
            <li><a routerLink="/species" class="footer-link">Especies</a></li>
        </ul>
      </aside>
    </div>
  
    <section class="my-5 py-5 section-content">
      <div class="container">
        <h2 class="text-center mb-4 section-title">Poke-Api-Pokedex</h2>
       
      </div>
    </section>
  
    <section class="bg-light py-5 section-content">
      <div class="container">
        <h2 class="text-center mb-4 section-title">Novedades</h2>
        <div class="row text-center">
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Lista Pokémon</h3>
          </div>
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Poke-tienda</h3>
            <p class="section-text">Explora nuestra tienda para encontrar productos oficiales de Pokémon.</p>
          </div>
          <div class="col-md-4 p-4 section-box">
            <h3 class="section-subtitle">Objetos</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5 section-content">
      <div class="container">
      </div>
    </section>

  </div>
  