<div class="container">
  <h2>Lista de Pokémon</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let pokemon of pokemons">
      <div class="card mb-4 shadow-sm">
        <img [src]="getPokemonImage(pokemon.url)" class="card-img-top" alt="{{ pokemon.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>
          <p class="card-text">Detalles sobre {{ pokemon.name }}</p>
          <div class="text-center"> <!-- Este div centra el contenido -->
            <a [routerLink]="['/pokemon', pokemon.name]" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
