<div class="container">
    <div class="container mt-3">
        <div class="text-center mb-3 mt-3" style="max-width: 600px; margin: 0 auto; border-bottom: 3px solid #708599; padding: 10px;">
          <h2 style="font-size: 2rem; font-weight: bold; color: #45525f; margin-bottom: 0;">
            Lista Pokémon
          </h2>
      </div>

    <div class="row row-cols-2 row-cols-md-3 g-4 px-3" id="pokemon-container">
        @for(pokemon of pokemonList; track pokemon.name) {
        <div class="col py-3">
            <a href="" class="text-decoration-none text-dark">
                <div class="card shadow-lg h-200" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <h5 class="badge badge-secondary card-title mt-2 text-dark" style="font-size: 20px;">
                            {{pokemon.name | uppercase}}
                        </h5>
                        
                        <p class="card-text">N° {{getPokemonId(pokemon.url)}}</p>
                        <div class="imagen-circulo shadow-lg"
                            style="margin: 0 auto; width: 250px; height: 150px; display: flex; justify-content: center; align-items: center; border-radius: 50%; overflow: hidden;">
                            <a [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">
                                <img [src]="createImgUrl(getPokemonId(pokemon.url))" alt="{{pokemon.name}}"
                                    style="width: 100%; height: auto; object-fit: cover;">
                            </a>
                        </div>

                        <div class="p-3">
                            <a class="text-decoration-none text-white btn btn-primary py-1 px-3 rounded-3 border-0 shadow"
                                [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">
                                <span>Detalles</span>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>

    <div class="row col-6 mx-auto">
        <div class="col-auto mx-auto shadow-lg rounded-3 my-4">
            <button id="see-more" class="btn btn-outline-primary text-center p-2 bg-primary" (click)="concatNextPage() " style="color: white;">
                Ver más
            </button>
        </div>
    </div>
</div>
