<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="Pokémon Logo" width="200" height="100" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemon-list">Lista de Pokémon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/species">Especies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/abilities">Habilidades</a>
        </li>
      </ul>
    </div>
  </nav>
  

