<div class="modal-header">
    <h5 class="modal-title">{{ pokemonDetails?.name | uppercase }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="pokemonDetails?.sprites?.front_default" alt="{{ pokemonDetails?.name }}" class="img-fluid">
    <p><strong>Altura:</strong> {{ pokemonDetails?.height }}</p>
    <p><strong>Peso:</strong> {{ pokemonDetails?.weight }}</p>
    <p><strong>Habilidades:</strong></p>
    <ul>
      <li *ngFor="let ability of pokemonDetails?.abilities">
        {{ ability.ability.name }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cerrar</button>
  </div>
  