<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Salesianos de Triana</p>
        </div>
          <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a class="nav-link" routerLink="/">Inicio</a></li>
            <li><a class="nav-link" routerLink="/pokemon">Lista de Pokémon</a></li>
            <li><a class="nav-link" routerLink="/species">Especies</a></li>
            <li><a class="nav-link" routerLink="/items">Objetos</a></li>
          </ul>
        </div>
          <div class="col-md-4">
          <h5>Contacto</h5>
          <a href="https://github.com/alvaroloal" target="_blank" class="footer-link">alvaroloal</a>
          <p>Tlf: +1 234 567 890</p>
          <p>Triana, Sevilla</p>
        </div>
      </div>
      <div class="text-center pt-3">
        <small>&copy; 2024 Álvaro Lorente Almán.</small>
      </div>
    </div>
  </footer>
  