<div class="container">
  <div class="text-center mb-3 mt-3" style="max-width: 600px; margin: 0 auto; border-bottom: 3px solid #708599; padding: 10px;">
    <h2 style="font-size: 2rem; font-weight: bold; color: #45525f; margin-bottom: 0;">
      Especies Pokémon
    </h2>
</div>

  <div class="row justify-content-center">
    <div class="col-md-3" *ngFor="let type of types">
      <div class="card text-center mb-4" [ngStyle]="{'background-color': getBackgroundColor(type.name)}" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
          <img [src]="getTypeIcon(type.name)" alt="{{ type.name }}" style="width: 80px; height: 80px;">
        </div>
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.5rem; font-weight: bold; color: white;">{{ type.name | uppercase}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
